			body {
		width: 95%;
		margin: auto;
		background-color: black;
		color: white;
		padding: 50px 20px 20px 30px;
	}
	#container {
		background-color: white;
		padding: 10px 10px 5px 10px;
	}
	table {
		width: 100%;
		color: black;
		border: solid black 1px;
	}
	
	#hos{
			padding-top: 1px;
			padding-left: 90%;
			color: black;

	}
	img{
		height: 50px;
	}
	#head{
		padding: 0.5px 1px 1px 4px;
		background-color: #428bca;
		color: white;
		font-family: 'Open Sans', sans-serif;
		height: 60px;
	}
