		body {
			margin: auto;
			padding: 70px 30px 10px 20px;
			width: 100%;
			background-color: black;
		}
		#container {
			margin: auto;
			font-size: 15px;
			background-color: white;
			padding: 15px 10px 10px 10px;
		}
		#jm {
			margin: auto;
			width: 200px;
		}
		#ilj {
			margin: auto;
			width: 300px;
		}
		table {
			margin: auto;
			border: 3px solid darkblue;
		}
		.spacing {
			margin: auto;
			padding: 10px 2px 10px 1px;
		}
		#downbar {
			font-size: 20px;
			padding-bottom: 10px;
			padding-top: 15px;
		}
		#head {
			padding: 1px 5px 5px 5px;
			background-color: #428bca;
			color: white;
			font-family: 'Open Sans', sans-serif;
		}
