
		body{
			margin: auto;
			background-color: black;
			width: 90%;
			padding-top: 80px;
		}
		#container{
			background-color: white;
			padding: 20px 20px 10px 150px;
			font-family: 'Lobster', cursive;
			font-size: 50px;
			color: #00b300;
		}
		img{
			height: 50px;
		}
