	body {
			margin: auto;
			padding: 70px 30px 10px 30px;
			width: 80%;
			background-color: black;
		}
	#container {
			margin: auto;
			font-size: 15px;
			background-color: white;
			padding: 15px 10px 10px 10px;
		}
	#ilj {
			margin: auto;
			width: 300px;
			font-size: 18px;
		}
	#head {
			padding: 1px 5px 5px 5px;
			background-color: #428bca;
			color: white;
			font-family: 'Open Sans', sans-serif;
		}
	#downbar {
			font-size: 15px;
			padding-bottom: 10px;
			padding-top: 15px;
		}
	#yash{
		font-size:15px;
	}
