
<!DOCTYPE html>
<html>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link href="/css/appdept.css" rel="stylesheet" type="text/css">
<head>

	<title>select</title>
</head>

<body>
	<img src="https://static1.squarespace.com/static/58c6fc4a37c581154f75cdd2/t/58e662456a496356f0430f90/1604006272177/">
	<div id="container">
	<div id="head">
		<h3>Select Department to view Appointments.</h3>
	</div>
	<div>
		<table border="1">
			<tr>
				<th>Department Name</th>
				<th>Sessions</th>
			</tr>

			<%
	        if(dept.length!=0){
	        dept.forEach(function(data){
	        %>
			<tr>
				<form method="POST" action="apdeptview">
					<td><input name="deptn" value="<%=data.dname%>" readonly /></td>
					<td><button type="submit" class="btn btn-primary">View</button></td>
				</form>
			</tr>
			<% }) %>
			<% } else{ %>
			<% } %>
		</table>
	</div>
	<div id="hos">
	<strong><%=hos%></strong>	
	</div>
</div>
</body>

</html>
