 <!DOCTYPE html>
<html>

<head>
	
	<title>appointments</title>
</head>
<style type="text/css">
	body {
			margin: auto;
			padding: 70px 30px 10px 30px;
			width: 70%;
			background-color: black;
		}
		div {
			margin: auto;
			font-size: 15px;
			background-color: #5bc0de;
			padding :15px 10px 10px 10px;
		}
		table{
			width: 100%;
		}
		input{
			color: white;
			background-color:#5bc0de ;
			border: solid #5bc0de;
		}
		button{
			background-color: darkblue;
			color: white;
		}
	</style>

<body>
	<div>
			<table border="1">
				<tr>
					<th>Department</th>
					<th>Doctor</th>
					<th>Start session</th>
					<th>End session</th>
					<th>Appointment info</th>
				</tr>

				<%
	        if(user2.length!=0){
	        user2.forEach(function(data){
	        %>
				<tr>
					<form method="POST" action="details">
					<td><input name="dname" value="<%=data.dname%>" readonly/></td>
					<td><input name="docname" value="<%=data.docname%>" readonly /></td>
					<td><input name="start" value="<%=data.start%>"readonly/></td>
					<td><input name="end" value="<%=data.end%>"readonly/></td>
					<td><button type="submit" class="btn btn-primary">Click to view details</button></td>
					</form>
				</tr>
				<% }) %>
				<% } else{ %>
				<% } %>
			</table>
	</div>
</body>

</html>
