<html>

<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<link href="/css/appointmentform.css" rel="stylesheet" type="text/css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
</head>

<body>
	<img src="https://static1.squarespace.com/static/58c6fc4a37c581154f75cdd2/t/58e662456a496356f0430f90/1604006272177/">
	<div id="container">
		<div id="head"/>
		<h1>     Welcome</h1>
		</div>
		<p >       You have successfully registered with us.</p>
		<p >       Your Username is <strong> <%=Uname%></strong></p>
		<p ><i>    Please always remember your username for login purposes.</i></p>
		<p><b> NOTE: Your username is cannot be retrieved once lost</b></p> 
		<p ><strong>    Verify your Account </strong></p>
		<a href="login" class="btn btn-default" role="button">       Click Here to Login</a>
	
	</div>
</body>

</html>
