<!DOCTYPE html>
<html>
<head>
	<title>department</title>
	<script>
		var a;
		function another() {
			 a=div.cloneNode(true);
			var f=document.getElementByidName('div');
			document.f.appendChild(a);
			
		}
	</script>
</head>
<body>
	<div>
		<div>
		<p>
		department:
		<select>
			<option>department1</option>
			<option>department2</option>
		</select>
	</p>
    </div>
    <div>
    	<form action="">
    		<div id="div">
    	<p>
    		<label>Doctor name</label>
    		<input type="text" name="name" required>
    		<label>registration_no</label>
    		<input type="text" name="no" required>
    		<button onclick="another()">add another</button>
    	</p>
    	
    </div>
    <button type="submit">Submit</button>
    </form>
    </div>
	</div>

</body>
</html>
