<!DOCTYPE html>
<html>


<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<style>
		* {
			box-sizing: border-box;
		}

		input {
			width: 100%;
			padding: 15px;
			margin: 5px 0 22px 0;
			display: inline-block;
			border: none;
			background: #f1f1f1;
		}

		input[type=text]:focus,
		input[type=password]:focus {
			background-color: #ddd;
			outline: none;
		}

		button[type=submit] {
			background-color: #434140;
			color: #ffffff;
			padding: 10px 20px;
			margin: 8px 0;
			border: none;
			cursor: pointer;
			width: 100%;
			opacity: 0.9;
			font-size: 20px;
		}

		label {
			font-size: 18px;
			;
		}

		button[type=submit]:hover {
			background-color: #3d3c3c;
		}
			#addmorePOIbutton{
			width: 200px;
			}
			#ilovejyo{
				width: 500px;
			}
	</style>
</head>

<body>
	<div><h2><strong>Your Department....</strong></h2></div>
	<div>
		<form method="POST" action="">
			<div>
		<p>
		department:
		<select>
			<option name="d1">department1</option>
			<option name="d2">department2</option>
		</select>
	</p>
    </div>
<div id="Infotdiv">
	<table id="Infot" border="1">
		<tr>
			<td>S.no</td>
			<td>Doctor name</td>
			<td>Registraion no</td>
			<td>start_point in24hrs</td>
			<td>end_point in24hrs</td>
		</tr>
		<tr>
			<td>1</td>
			<td><input size=25 type="text" id="latbox" name="n1"/></td>
			<td><input size=25 type="text" id="lngbox" name="n2"/></td>
			<td><input size=25 type="number" name="startp" min="0000" max="2400" minlength="4" maxlength="4"/></td>
			<td><input size=25 type="number" name="endp" min="0000" max="2400" minlength="4" maxlength="4"/></td>
		</tr>
	</table>
			<input type="button" id="addmorePOIbutton" value="Add More " onclick="insRow()" />
			<div>
	<button type="submit" id="ilovejyo"> submit </button>
</div>
</div>
</form>
</div>
<script type="text/javascript">
var i=1;

	function insRow()
	{
    var x=document.getElementById('Infot');
       // deep clone the targeted row
    var new_row = x.rows[i].cloneNode(true);
       // get the total number of rows
    var len = x.rows.length;
       // set the innerHTML of the first row
    new_row.cells[0].innerHTML = len;

       // grab the input from the first cell and update its ID and value
    var inp1 = new_row.cells[1].getElementsByTagName('input')[0];
    inp1.id += len;
    inp1.value = '';

       // grab the input from the first cell and update its ID and value
    var inp2 = new_row.cells[2].getElementsByTagName('input')[0];
    inp2.id += len;
    inp2.value = '';

    var inp3 = new_row.cells[3].getElementsByTagName('input')[0];
    inp3.id += len;
    inp3.value = '';

    var inp4 = new_row.cells[4].getElementsByTagName('input')[0];
    inp4.id += len;
    inp4.value = '';

       // append the new row to the table
	x.appendChild( new_row );
	i++;
	}
</script>
</body>
</html>
                                                        
