<!DOCTYPE html>
<html>
<head>
	<title>welcome</title>
</head>
<body>
	<div><h1>Welcome <%=user.id%> </h1></div>
	<div>
		<p>
	<a href="">logout</a>
	<a href="">departments</a>
</p>
</div>
</body>
</html>
