<html>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap" rel="stylesheet">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<style>
	body {
			margin: auto;
			padding: 70px 30px 10px 30px;
			width: 80%;
			background-color: black;
		}
	#container {
			margin: auto;
			font-size: 15px;
			background-color: white;
			padding: 15px 10px 10px 10px;
		}
	#ilj {
			margin: auto;
			width: 300px;
			font-size: 18px;
		}
	#head {
			padding: 1px 5px 5px 5px;
			background-color: #428bca;
			color: white;
			font-family: 'Open Sans', sans-serif;
		}
	#downbar {
			font-size: 15px;
			padding-bottom: 10px;
			padding-top: 15px;
		}
	#yash{
		font-size:15px;
	}
	</style>
</head>
<body>
	<div id="container">
		<div id="head">
			<h2><strong>Login</strong></h2>
		</div>
		<div id="downbar">
		<form action="auth" method="POST">
			<p><input type="text" placeholder="Username" name="un" required></p>
			<p><input type="password" placeholder="Password" name="pass" required></p>
			<button type="submit" class="btn btn-success" id="ilj"> Login </button>
			<div id="yash">
				<p> Don't Have An Account?
				<a href='register'> Register </a></p>
			</div>
		</form>
		</div>
	</div>
</div>
</body>

</html>
