  
<!DOCTYPE html>
<html>


<head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<title>search</title>
</head>
<style type="text/css">
	body {
		padding: 60px 20px 10px 10px;
		margin: auto;
		width: 50%;
		background-color: black;
	}
	.container {
		padding: 5px 0px 10px 0px;
		background-color: white;
	}
	.odiwfhh {
		padding-left: 450px;
		background-color: white;
	}
	.odiwfhh1 {
		padding: 10px 2px 10px 50px;
	}
	.odiwfhh2 {
		padding: 10px 2px 15px 150px;
		width: 200px;
	}
	.odiwfhh3 {
		padding: 5px 0px 10px 50px;
		background-color: white;
		color: black;
	}
	.odiwfhh4 {
		padding: 10px 2px 10px 50px;
	}
	#search {
		width: 300px;
		height: 25px;
		font-size: 20px;
		border: solid black 1px;
	}
	#fy{
		background-color: white;
		color: black;
		border: solid white 1px;
	}
	#jyo {
		width: 100px;
		height: 50px;
		background-color: #28a428;
		color: white;
		font-size: 20px;
		border: solid white 1px;
	}
	#dum{
		width: 80px;
		height: 30px;
		border: 30px;
		border:solid black 1px;
	}
	img{
		height: 50px;
	}
</style>

<body>
	<img src="https://static1.squarespace.com/static/58c6fc4a37c581154f75cdd2/t/58e662456a496356f0430f90/1604006272177/">
	<div class="container">
		<div class="odiwfhh">
			<a href="login">login for hospital</a>
		</div>
		<div>
			<form method="POST" action="find">
				<div class="odiwfhh1">
					<select name="cat" id="dum">
						<option>Category</option>
						<option value="copy">Speciality</option>
						<option value="copy">Doctors</option>
						<option>Hospitals</option>
					</select>
					<div id="copy" class="one" hidden>
					<select name="day1" id="dum">
						<option value="0">All Week</option>
						<option value="2">Monday</option>
						<option value="3">Tuesday</option>
						<option value="4">Wednesday</option>
						<option value="5">Thursday</option>
						<option value="6">Friday</option>
						<option value="7">Saturday</option>
						<option value="1">Sunday</option>
					</select>
				</div>
				</div>
				<div class="odiwfhh2">
					<input type="text" name="sch" placeholder="search" id="search" required />
				</div>
				<div class="odiwfhh3">
					<p id="idk"></p>
					<input id="ysh" name="currd" value="" required readonly hidden />
					<input id="fy" name="currt" value="" required readonly/>
				</div>

					<div class="odiwfhh4">
						<button type="submit" id="jyo" >search</button>
					</div>
			</form>
		</div>
	</div>

	<script>
		$(function() {
        $('#dum').change(function(){
            $('.one').hide();
            $('#' + $(this).val()).show();
        });
    });
		var a=new Array();
		a[0]="Sunday"; a[1]="Monday"; a[2]="Tuesday"; a[3]="Wednesday"; a[4]="Thursday"; a[5]="Friday"; a[6]="Saturday";
		var d=new Date();
		var n=("0" + ((d.getHours()*100)+d.getMinutes())).slice(-4)
		var m=d.getDay()+1;
		document.getElementById("fy").value=n;
		document.getElementById("ysh").value=m;
		document.getElementById("idk").innerText=d.getDate()+"/"+(d.getMonth()+1)+"/"+d.getFullYear()+", "+a[d.getDay()];
	</script>
</body>

</html>

