  
<!DOCTYPE html>
<html>

<head>
	
	<title>searchresult2</title>
</head>
<style type="text/css">
	body {
			margin: auto;
			padding: 70px 30px 10px 30px;
			width: 70%;
			background-color: black;
		}
		div {
			margin: auto;
			font-size: 15px;
			background-color: #5bc0de;
			padding :15px 10px 10px 10px;
		}
		table{
			width: 100%;
		}
		input{
			color: white;
			background-color:#5bc0de ;
			border: solid #5bc0de;
		}
		button{
			background-color: darkblue;
			color: white;
		}
	</style>

<body>
	<div>
			<table border="1">
				<tr>
					<th>Hospital name</th>
					<th>Address</th>
					<th>more info</th>
				</tr>

				<%
	        if(user2.length!=0){
	        user2.forEach(function(data){
	        %>
				<tr>
					<form method="POST" action="details">
					<td><input name="hos" value="<%=data.name%>" readonly/></td>
					<td><input name="add" value="<%=data.address%>" readonly /></td>
					<td><button type="submit" class="btn btn-primary">Click to view details</button></td>
					</form>
				</tr>
				<% }) %>
				<% } else{ %>
				<% } %>
			</table>
	</div>
</body>

</html>
